@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	--bg-color: black;
	--fg-color: white;
	--hi-color: blue;
}

html,
body {
	background-color: var(--bg-color);
	color: var(--fg-color);
}

h1 {
	font-size: 3em;
	font-weight: 700;
	line-height: 40px;
}

h2 {
	font-size: 2em;
	font-weight: 600;
	line-height: 40px;
}

h3 {
	font-size: 1.5em;
	font-weight: 700;
	line-height: 30px;
}

.hide-button-hover:hover .hidden-button {
	opacity: 1;
}

.hidden-button {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.shadow-custom {
	box-shadow: 0 0 1em rgba(0, 112, 240, 0.5);
}

.transition-dropdown {
	transition: 150ms all ease-in-out;
}

img {
	user-select: none;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #222222;
	border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.under-box-shadow {
	display: inline-block;
}

.wider-autocomplete [data-slot="input-wrapper"] {
	height: 3.5rem;
}

a {
	cursor: pointer;
}
