@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	--bg-color: black;
	--fg-color: white;
	--hi-color: blue;
}

html,
body {
	background-color: var(--bg-color);
	color: var(--fg-color);
}

h1 {
	font-size: 3em;
	font-weight: 700;
	line-height: 40px;
}

h2 {
	font-size: 2em;
	font-weight: 700;
	line-height: 40px;
}

.hide-button-hover:hover .hidden-button {
	visibility: visible;
}

.hidden-button {
	visibility: hidden;
	transition: visibility 300ms ease-in-out;
}
